tests/**/*
!tests/**/
!tests/**/*.c
!tests/**/*.txt
failures/*
!failures/*.c
arch-sys/*
!arch-sys/*.c


*.cmi
*.cmo
depend
mcc
ctab.output
.gdb_history
*.out
clex.ml
cparse.mli
cparse.ml
cparse.output
TODO
NVILLANI-*
~*
*.log
*.aux

*.glob
*.vo*
